# Directories
.github
node_modules
examples
docs
src

# Config Files
.appveyor.yml
.travis.yml
CODE_OF_CONDUCT.md
CONTRIBUTING.md
jasmine.json
PULL_REQUEST_TEMPLATE.md
tsconfig.json
tslint-google.json
tslint.json

# Other Files
TODO.md
